*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url("background.jpg");
  margin: 0%;
  background-position: center;
  background-size: 130%;

}

.intro{
  display: inline-flexbox;
  position: sticky;
  position: cover;
  top: 0;
  background-color: rgba(173, 169, 172, 0.815);
}
.btn{
  color: green;
  position: center;
  align-content: center !important;
  padding: 0px;
}
.a{
  display: flex;
}
.pizza{
  object-position: center;
  align-content: center;
  padding: 3%;
}
.contact{
  top: 0;
  align-content: flex-end;
  padding: 2%;

}
.contact .fb{
  padding-left: 0px;
  padding-top: 0px;
}
.contact .map{
  padding-right: 0px;
  padding-top: 0px;
}
.contact .insta{
  padding-bottom: 0px;
  padding-left: 0px;
}
.contact .yutbe{
  padding-bottom: 0px;
  padding-right: 0px;
}
.ml10 {
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  text-decoration: rebeccapurple;
  position: center;
  color: rgb(156, 0, 34);
}

.ml10 .text-wrapper {
  display: inline-block;
  padding-top: 1%;
  padding-bottom: 1%;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}
#info {
  align-content: center;
}
.about{
  background-color: rgba(0, 0, 0, 0.856);
  margin: 8%;
  padding: 4%;
  color: rgb(46, 243, 73);
  text-align: justify;
  font-size: 120%;
}
.about .h3{
  color: rgb(34, 201, 34) !important;
}
.working{
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
.talk{
  display: flex;
  background-color: rgba(0, 0, 0, 0.856);
  margin: 8%;
  align-content: space-between;
}
.tlk{
  align-content: flex-start;
  padding: 5%;
  font-size: 130%;
  color: rgb(248, 38, 119);
  font-family: cursive;
}
.tlk .h3 {
  color: aqua !important ;

}
.submit{
  background-color: rgb(136, 255, 245);
  border-style: groove;
  border-width: 3px;
  border-radius: 20%;
  border-color: rgb(50, 207, 255);
  box-shadow: lavender 30%;
  padding: 1%;

}
.heading{
  align-content: flex-end;
  padding-top: 1%;
  border-radius: 5%;

}
.end{
  background-color: rgba(0, 0, 0, 0.87);
  color: rgb(255, 255, 255);
  width: 30%;
  padding-left: 35%;
  padding-right: 35%;
  padding-top: 4%;
  padding-bottom: 4%;
}
.footer{
  padding-top: 1px;
  background-color: rgba(0, 0, 0, 0.87);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 90%;
}