*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url("background.jpg");
  margin: 0%;
  background-position: center;
  background-size: 130%;

}

.intro{
  display: inline-flexbox;
  position: sticky;
  position: cover;
  top: 0;
  background-color: rgba(173, 169, 172, 0.815);
}
.btn{
  color: green;
  position: center;
  align-content: center !important;
  padding: 0px;
}
.a{
  display: flex;
}
.pizza{
  object-position: center;
  align-content: center;
  padding: 3%;
}
.contact{
  top: 0;
  align-content: flex-end;
  padding: 2%;

}
.contact .fb{
  padding-left: 0px;
  padding-top: 0px;
}
.contact .map{
  padding-right: 0px;
  padding-top: 0px;
}
.contact .insta{
  padding-bottom: 0px;
  padding-left: 0px;
}
.contact .yutbe{
  padding-bottom: 0px;
  padding-right: 0px;
}
.fun{
  text-align: center;
  color: rgb(112, 2, 2);
  align-content: cover;

}
#info {
  align-content: center;
}
.about{
  background-color: rgba(0, 0, 0, 0.856);
  margin: 8%;
  padding: 4%;
  color: rgb(227, 252, 255);
  text-align: justify;
  font-size: 120%;
}
.working{
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
.talk{
  display: flex;
  background-color: rgba(0, 0, 0, 0.856);
  margin: 8%;
  align-content: space-between;
}
.tlk{
  align-content: flex-start;
  padding: 5%;
  font-size: 130%;
  color: rgb(255, 92, 168);
  font-family: cursive;
}
.tlk .h3{
  border-bottom: solid white 1px;
}
.heading{
  align-content: flex-end;
  padding-top: 1%;
  border-radius: 5%;

}
.end{
  background-color: rgba(0, 0, 0, 0.87);
  color: rgb(255, 255, 255);
  padding-left: 40%;
  padding-top: 4%;
  padding-bottom: 4%;
}
.footer{
  background-color: rgba(0, 0, 0, 0.87);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 90%;
}